.modal-overlay {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    /* height: 300px; */
    width: 500px;
    position: relative;
    background: #dbe2e9;
    border-radius: var(--border-radius-m);
}

.modal-header {
    padding: 15px;
    text-align: center;
}

.modal-header h2 {
    font-size: 18px;
    font-weight: 600;
}

.modal__close-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: calc(15px + 0.25rem) 15px;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}
