.transaction-form-container {
    padding: 15px 20px 20px;
}

.transaction-form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.transaction-form__description, .transaction-form__amount, .transaction-form__type {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction-form__description textarea, .transaction-form__amount input {
    width: 100%;
    border: 1px solid var(--color-slate-gray);
    border-radius: 3px;
    padding: 4px 6px;
    background-color: #ffffff;
}

.transaction-form__label {
    width: 140px;
}

.transaction-form__inputs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.transaction-form button {
    background-color: var(--color-magenta); 
    color: #fff;
    font-size: 1rem;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.transaction-form button:hover {
    background-color: var(--color-boysenberry); 
}

.transaction-form__inputs div label {
    cursor: pointer;
}