:root {
    /* Font */
    font-family: 'Josefin Sans', sans-serif;

    /* Colors */
    --color-carcoal: #232023;
    --color-gun-metal-gray: #2a3439;
    --color-slate-gray: #657383;
    --color-magenta: #a1045a;
    --color-boysenberry: #630436;

    --income: #98fb98;
    --expense: #da4644;

    --border-radius-m: 8px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}

html {
    box-sizing: border-box;
}

input, button, textarea, select {
    font: inherit;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input[type="radio"] {
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, var(--color-slate-gray), var(--color-gun-metal-gray));
    color: #fff
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-list {
    display: flex;
    gap: 45px;
    padding: 12px 35px;
} 

.header-list li {
    cursor: pointer;
}

.close-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: calc(15px + 0.25rem) 15px;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}